hand_recognition/*.jpg
hand_recognition/*.jpeg
*.npy
hand_recognition/*.png
*.dat
*.zip
*.MOV
*.mov
*.MP4
*.mp4
*.AVI
*.avi
.idea
*.pth
hand_recognition/prepare_data/data
.vscode
*.venv
*.env
*certs*
*.pyc
infos
.gitignore